.weather {
   width: 100%;
}

.weather__wrapper {
   column-gap: 6%;
   row-gap: 30px;
   display: grid;
   /* grid: auto-flow auto / 26% 66%; */
   grid-template-columns: 26% 68%;
   grid-auto-flow: row;
   justify-items: start;
}

.weather__container {
   background-color: #262626;
   padding: 20px;
   border-radius: 16px;
   color: #ffffff;
   width: 100%;
   box-sizing: border-box;
   position: relative;
}

.weather__subtitle {
   width: 20px;
   height: 20px;
   background: url('../images/location.png') no-repeat center;
   background-size: contain;
   margin-bottom: 8px;
}

.weather__edit-btn {
   position: absolute;
   top: 24px;
   right: 20px;
   font-size: 10px;
   line-height: 1.3;
   color: rgba(255, 255, 255, .5);
   font-family: 'Open Sans', Arial, sans-serif;
   font-weight: 400;
   text-align: end;
   margin: 0;
   display: flex;
   justify-content: flex-end;
   gap: 8px;
   cursor: pointer;
}

.weather__edit-btn-img {
   width: 10px;
   height: 10px;
   background: url('../images/pencil.png') no-repeat center;
   background-size: contain;
}

.weather__region {
   margin: 0;
   font-size: 12px;
   color: rgba(255, 255, 255, .5);
}

.weather__city {
   margin: 0;
   font-size: 28px;
   line-height: 1.3;
   color: #ffffff;
   font-family: 'Open Sans', Arial, sans-serif;
   font-weight: 500;
   position: relative;
   overflow: hidden;
   text-overflow: ellipsis;
   text-wrap: nowrap;
   /* text-align: center; */
}

/* .weather__city::after {
   content: '';
   display: block;
   width: 14px;
   height: 14px;
   background: url('../images/pencil.png') no-repeat center;
   background-size: contain;
   position: absolute;
   right: 0;
   top: 0;
} */

.weather__temperature {
   margin: 0 auto;
   font-size: 96px;
   line-height: 1.2;
   color: #ffffff;
   font-family: 'Open Sans', Arial, sans-serif;
   font-weight: 800;
   text-align: center;
}

.weather__description {
   margin: 0;
   font-size: 12px;
   line-height: 1.3;
   color: rgba(255, 255, 255, .5);
   font-family: 'Open Sans', Arial, sans-serif;
   font-weight: 400;
   text-align: center;
}

.weather__info-container {
   width: 100%;
}

.weather__info-title {
   margin: 20px 0;
   font-size: 22px;
   line-height: 1.3;
   color: #262626;
   font-family: 'Open Sans', Arial, sans-serif;
   font-weight: 800;
}

.weather__info-items {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   gap: 16px;
}

.weather__info-item {
   background-color: #ffffff;
   border-radius: 16px;
   padding: 14px;
   width: 25%;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 14px;
}

.weather__info-item-title {
   margin: 0;
   font-size: 12px;
   line-height: 1.3;
   color: #262626;
   font-family: 'Open Sans', Arial, sans-serif;
   font-weight: 400;
}

.weather__info-item-text {
   margin: 0;
   font-size: 22px;
   line-height: 1.3;
   color: #262626;
   font-family: 'Open Sans', Arial, sans-serif;
   font-weight: 800;
}

.weather__info-item-icon {
   background: url('../images/temperature.png') center no-repeat;
   width: 32px;
   height: 32px;
   padding: 6px;
   background-size: contain;
}

.weather__other-city {
   width: 100%;
   box-sizing: border-box;
   display: flex;
   gap: 20px;
   flex-direction: column;
}

.weather__other-city-wrapper {
   border: 2px dashed #262626;
   padding: 14px 20px;
   border-radius: 16px;
   color: #262626;
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
}

.weather__other-city-subtitle {
   margin: 0;
   font-size: 10px;
   line-height: 1.3;
   color: rgba(38, 38, 38, .6);
   font-family: 'Open Sans', Arial, sans-serif;
   font-weight: 400;
}

.weather__other-city-title {
   margin: 4px 0 6px;
   font-size: 24px;
   line-height: 1.3;
   color: #262626;
   font-family: 'Open Sans', Arial, sans-serif;
   font-weight: 800;
}

.weather__other-city-description {
   margin: 0;
   font-size: 12px;
   line-height: 1.3;
   color: #262626;
   font-family: 'Open Sans', Arial, sans-serif;
   font-weight: 400;
}

.weather__other-city-icon {
   background: url('../images/clouds_b.png') center no-repeat;
   width: 24px;
   height: 24px;
   padding: 6px;
   background-size: contain;
}

.weather__other-city-temperature {
   margin: 10px 0 0;
   font-size: 16px;
   line-height: 1.3;
   color: #262626;
   font-family: 'Open Sans', Arial, sans-serif;
   font-weight: 800;
   text-align: center;
}

.weather__other-city-add {
   margin: 0 auto;
   font-size: 16px;
   line-height: 1.3;
   color: #262626;
   font-family: 'Open Sans', Arial, sans-serif;
   font-weight: 500;
   text-align: center;
}

.weather__weekly {
   width: 100%;
}

.weather__weekly-title {
   margin: -24px 4px 8px;
   font-weight: 400;
   font-size: 12px;
   color: #757575;
}

.weather__weekly-items {
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   justify-content: space-between;
}

.weather__weekly-item {
   background-color: #262626;
   border-radius: 16px;
   padding: 19px 28px;
   box-sizing: border-box;
}

.weather__weekly-item-day {
   margin: 0;
   padding-bottom: 12px;
   border-bottom: 1px solid #525252;
   font-size: 20px;
   font-weight: 800;
   color: #ffffff;
   font-family: 'Open Sans', Arial, sans-serif;
   text-align: center;
}

.weather__weekly-item-img {
   background: url('../images/cloud.png') no-repeat center;
   background-size: contain;
   width: 48px;
   height: 48px;
   margin: 18px 0;
}

.weather__weekly-item-degree {
   margin: 0;
   font-size: 28px;
   font-weight: 800;
   color: #ffffff;
   font-family: 'Open Sans', Arial, sans-serif;
   text-align: center;
}