.section-time {
   width: 90%;
   height: 300px;
   text-align: center;
}

.section-time__data {
   font-size: 28px;
   color: #262626;
}

.section-time__btn {
   margin-bottom: 10px;
   width: 30%;
}